/*3.1 arka-about-section */
.arka-about-section {

    .about-left-item {
        margin-right: 40px;
    }

    .wpo-section-title {
        text-align: left;
        margin-bottom: 30px;

        h2 {
            position: unset;
            margin-top: 0;
            line-height: 60px;

            &::before {
                position: unset;
            }

            &::after {
                position: unset;
            }
        }

        p {
            font-weight: 400;
            font-size: 18px;
            line-height: 35px;
            color: $text-light-color;
            margin-bottom: 0;
        }
    }

    .about-middle-item {

        img {
            width: 100%;
        }
    }

    .about-right-item {
        text-align: left;
        margin-left: 49px;

        p {
            margin-bottom: 0;
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
            color: $text-light-color;

            span {
                font-family: $heading-font;
                font-size: 50px;
                font-weight: 400;
                color: $theme-primary-color-s2;
            }
        }

        h2 {
            font-weight: 400;
            font-size: 30px;
            line-height: 50px;
            color: $heading-color;
            margin-top: 29px;
            margin-bottom: 0;
        }

        h3 {
            font-weight: 400;
            font-size: 16px;
            line-height: 30px;
            color: $text-light-color;
        }

        .signeture-img {
            width: 200px;
            height: 80px;
            display: block;
            margin-top: 58px;
        }
    }

}

/*3.2 wpo-fun-fact-section */
.wpo-fun-fact-section {
    text-align: center;
    position: relative;
    z-index: 1;
    overflow: hidden;


    @include media-query(767px) {
        padding-bottom: 30px;
    }

    h2 {




        @include media-query(991px) {
            font-size: 26px;
        }

        @include media-query(767px) {
            font-size: 25px;
        }
    }

    .wpo-fun-fact-grids {
        border: 1px dashed $border-color;
        padding: 20px;
    }

    .wpo-fun-fact-grids .grid {
        width: 25%;
        float: left;
        border-top: 1px dashed $border-color;
        border-bottom: 1px dashed $border-color;
        border-left: 1px dashed $border-color;
        padding: 30px 0;
        padding-bottom: 19px;

        &:nth-child(4) {
            border-right: 1px dashed $border-color;
        }

        @include media-query(767px) {
            width: 100%;
            float: none;
            margin-bottom: 50px;
        }
    }

    .grid {

        h3 {
            margin: 0 0 0.2em;
            font-family: $heading-font;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 400;
            font-size: 50px;
            line-height: 60px;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: $dark-gray;

            @include media-query(1200px) {
                font-size: 50px;
            }

            @include media-query(991px) {
                font-size: 40px;
            }

            @include media-query(767px) {
                font-size: 35px;
            }
        }
    }



    .grid h3+p {
        text-transform: uppercase;
        color: $dark-gray;
        font-family: $heading-font;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;

        @include media-query(991px) {
            font-size: 14px;
        }
    }
}

/*3.3 arka-service-section */
.arka-service-section {

    .service-wrap {
        margin-top: 75px;
        position: relative;

        .bg-image {
            position: absolute;
            left: 50%;
            top: 47%;
            transform: translate(-50%, -50%);
            width: 990px;
            height: 745px;
            z-index: -1;
        }
    }

    .service-left-item,
    .service-right-item {
        border: 1px dashed $border-color-s2;
        margin-right: 45px;
        margin-bottom: 40px;
        display: flex;
        justify-content: space-between;
        padding: 40px 28px;
        padding-bottom: 20px;
        background: $white;

        .icon {
            margin-top: 10px;
            width: 80px;

            img {
                width: 100%;
            }
        }

        .text {
            padding-left: 20px;
            text-align: left;

            h2 {
                a {
                    font-family: $heading-font;
                    color: $heading-color;
                    font-weight: 400;
                    font-size: 30px;
                    display: inline-block;
                    transition: all .3s ease-in-out;

                    &:hover {
                        color: $theme-primary-color;
                    }
                }
            }

            p {
                font-family: $base-font;
                font-weight: 400;
                font-size: 18px;
                color: $text-light-color;
                padding-top: 10px;
            }
        }
    }

    .service-right-item {
        margin: 0;
        margin-left: 45px;
        margin-bottom: 40px;

        .text {
            padding-left: 0;
            padding-right: 20px;
            text-align: right;
        }
    }

}

/* 3.3 arka-project-section */
.arka-project-section {
    margin: 0 100px;

    @media (max-width:1760px) {
        margin: 0 50px;
    }

    @media (max-width:1499px) {
        margin: 0 20px;
    }

    .wpo-section-title {
        text-align: left;

        h2 {

            &::before {
                left: 0;
                transform: unset;
                width: 35%;
            }

            &::after {
                left: 0;
                transform: unset;
                width: 25%;
            }
        }
    }

    .project-btn {
        text-align: right;
    }



    .project-wrap {
        margin-top: 35px;
    }

    .col {
        &:nth-child(2) {
            margin-top: 60px;
        }
    }

    .project-item {

        .image {

            img {
                width: 100%;
            }
        }

        .text {
            margin-top: 30px;

            h2 {

                a {
                    font-family: $heading-font;
                    font-weight: 400;
                    font-size: 30px;
                    color: $heading-color;
                    display: inline-block;
                    padding-left: 80px;
                    transition: all .3s ease-in-out;
                    position: relative;

                    @media (max-width:1760px) {
                        padding-left: 70px;
                        font-size: 25px;
                    }

                    &:hover {
                        color: $theme-primary-color;
                    }

                    &::before {
                        position: absolute;
                        left: 10px;
                        top: 50%;
                        content: '';
                        height: 1px;
                        width: 50px;
                        background: $theme-primary-color-s2;
                    }
                }
            }
        }
    }
}

/* 3.4 wpo-pricing-section */

.wpo-pricing-section {
    .wpo-pricing-wrap {
        margin-top: 35px;

        .wpo-pricing-item {
            border: 1px dashed #AFBDA8;
            background: transparent;

            @media(max-width:991px) {
                margin-bottom: 30px;
            }

            .wpo-pricing-top {
                padding: 30px;
                text-align: center;
                padding-top: 30px;
                padding-bottom: 0;

                .pricing-thumb {
                    display: inline-block;

                    span {
                        color: $dark-gray;
                        font-family: $heading-font;
                        font-weight: 400;
                        font-size: 35px;
                        line-height: 60px;
                    }
                }


                .wpo-pricing-text {
                    border-bottom: 1px solid #D9D9D9;

                    h2 {
                        color: $theme-primary-color-s2;
                        font-size: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 20px;
                        font-weight: 700;

                        span {
                            font-weight: 500;
                            color: $text-color;
                            font-size: 16px;
                            text-transform: capitalize;
                        }
                    }

                    p {
                        padding-bottom: 30px;
                        max-width: 282px;
                        margin: 0 auto;
                        border-bottom: 1px solid $theme-primary-color;
                    }
                }
            }

            .wpo-pricing-bottom {
                padding: 40px;
                padding-top: 35px;
                text-align: center;

                .wpo-pricing-bottom-text {
                    ul {
                        list-style: none;

                        li {
                            color: $text-light-color;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 30px;
                            margin-bottom: 20px;

                            @media (max-width:399px) {
                                font-size: 17px;
                                line-height: 20px;

                            }
                        }
                    }

                    a {
                        font-size: 16px;
                        color: $heading-color;
                        font-weight: 500;
                        display: inline-block;
                        margin-top: 20px;
                        position: relative;
                        padding: 10px 25px;
                        border: 1px solid $theme-primary-color;
                        position: relative;
                        background: $white;

                        &::before {
                            position: absolute;
                            content: '';
                            left: -5px;
                            top: -5px;
                            width: 100%;
                            height: 100%;
                            border: 1px solid $theme-primary-color;
                            z-index: -1;
                        }
                    }
                }
            }
        }

        .col {
            &:nth-child(2) {
                .wpo-pricing-item {
                    border: 1px dashed transparent;
                    background: $theme-primary-color-s2;

                    .wpo-pricing-top {

                        .pricing-thumb {

                            span {
                                color: $white;
                            }
                        }


                        .wpo-pricing-text {
                            border-bottom: 1px solid #fff;

                            h2 {
                                color: $white;

                                span {
                                    color: $white;
                                }
                            }
                        }
                    }

                    .wpo-pricing-bottom-text {
                        ul {
                            li {
                                color: $white;
                            }
                        }

                        a {
                            color: $theme-primary-color;
                            border: 1px solid transparent;

                            &::before {
                                border: 1px solid $white;
                                z-index: 1;
                            }
                        }
                    }

                }
            }

            &:last-child {
                .wpo-pricing-item {
                    margin-bottom: 0;
                }
            }
        }
    }
}

/* 3.5 arka-testimonial-section */
.arka-testimonial-section {
    padding-top: 0;

    .testimonial-left-item {

        .image {
            margin: 20px;
            outline: 1px dotted #799D99;
            outline-offset: 15px;
            border-radius: 50%;

            img {
                border-radius: 50%;
                width: 100%;
            }
        }
    }

    .testimonial-right-wrap {}

    .testimonial-item {
        margin-left: 20px;
        margin-right: 20px;

        .icon {
            display: inline-block;
        }

        p {
            font-family: $heading-font;
            font-weight: 400;
            font-size: 30px;
            line-height: 50px;
            color: $text-light-color;
            margin-bottom: 80px;
            margin-top: 20px;
            position: relative;

            &:before {
                position: absolute;
                left: 0;
                top: 35px;
                width: 50%;
                height: 100%;
                content: "";
                border-bottom: 1px dotted $theme-primary-color-s2;
            }

            &::after {
                position: absolute;
                left: 0;
                top: 45px;
                width: 40%;
                height: 100%;
                content: "";
                border-bottom: 1px dotted $theme-primary-color-s2;
            }
        }

        h3 {
            margin-top: 30px;
            font-family: $heading-font;
            font-weight: 400;
            font-size: 40px;
            color: $dark-gray;
        }

        span {
            font-weight: 400;
            font-size: 22px;
            color: $text-light-color;
        }
    }
}



/*3.6 arka-cta-section */
.arka-cta-section {
    background: url(../images/cta-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    position: relative;

    &::before {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        content: '';
        background: #779A65;
        opacity: 0.95;
        z-index: -1;
    }

    .cta-content {
        text-align: center;

        span {
            display: inline-block;
            color: $white;
            font-family: $base-font-s2;
            font-weight: 500;
            font-size: 18px;
            text-transform: uppercase;

            @media (max-width:767px) {
                font-size: 15px;
                margin-bottom: 8px;
            }
        }

        .call {
            display: block;
            color: $white;
            font-family: $heading-font;
            font-weight: 400;
            font-size: 60px;
            margin-bottom: 20px;

            @media (max-width:1199px) {
                font-size: 55px;
            }

            @media (max-width:991px) {
                font-size: 45px;
            }

            @media (max-width:767px) {
                font-size: 32px;
                margin-bottom: 7px;
            }
        }

        p {
            color: $white;
            font-weight: 500;
            font-size: 18px;
            line-height: 30px;
            margin-bottom: 37px;

            @media (max-width:767px) {
                font-size: 15px;
                margin-bottom: 20px;
            }
        }

        .cta-btn {
            display: inline-block;
        }
    }
}


/* 3.7 wpo-blog-section */
.wpo-blog-section {

    .blog-wrap {
        margin-top: 35px;
    }

    .blog-item {}

    .image {

        img {
            width: 100%;
        }
    }

    .blog-content {
        background: $white;
        border: 2px dashed #AFBDA8;
        margin: 0 30px;
        padding: 35px;
        position: relative;
        z-index: 1;
        margin-top: -107px;

        h2 {

            a {
                font-family: $heading-font;
                font-weight: 400;
                font-size: 36px;
                line-height: 60px;
                color: $heading-color;
                transition: all .3s ease-in-out;
            }

            &:hover {

                a {
                    color: $theme-primary-color;
                }
            }
        }

        p {
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;
            color: $text-light-color;
        }

    }

    .thumb {

        ul {
            list-style: none;

            li {
                display: inline-block;
                font-weight: 400;
                font-size: 20px;
                line-height: 30px;
                color: #779A65;
                z-index: 1;

                a {
                    position: relative;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 30px;
                    color: #779A65;
                    padding-right: 20px;
                    transition: all .3s ease-in-out;

                    &::before {
                        position: absolute;
                        content: '';
                        right: 5px;
                        top: 9px;
                        width: 5px;
                        height: 5px;
                        background: $theme-primary-color-s2;
                    }

                    &:hover {
                        color: $theme-primary-color;
                    }
                }
            }
        }
    }


    .blog-item.s2 {
        margin-bottom: 60px;

        &:nth-child(2) {
            margin-bottom: 30px;
        }

        .image {
            width: 330px;
            height: 300px;
            display: inline-block;
        }

        .blog-content {
            width: 420px;
            margin: 0;
            margin-top: -260px;
            margin-left: 200px;

            h2 {
                margin-bottom: 0;

                a {
                    font-weight: 400;
                    font-size: 26px;
                    line-height: 60px;
                }

            }

            p {
                margin-bottom: 0;
            }
        }
    }

}