/*--------------------------------------------------------------
3. content
--------------------------------------------------------------*/

/*3.1 wpo-hero-slider*/

.wpo-hero-slider,
.static-hero,
.wpo-hero-slider-s2 {
	width: 100%;
	height: 900px;
	display: flex;
	position: relative;
	z-index: 0;

	@include media-query(991px) {
		height: 600px;
	}

	@include media-query(767px) {
		height: 500px;
	}

	.swiper-slide {
		overflow: hidden;
	}

	.swiper-container,
	.hero-container {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
	}

	.slide-inner,
	.hero-inner {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		background-size: cover;
		background-position: center;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: left;

		&:before {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: #040128;
			content: "";
			opacity: .6;
		}

		.slide-content {
			padding-bottom: 85px;
			padding-left: 240px;

			@media(max-width:1700px) {
				padding-left: 140px;
			}

			@media(max-width:991px) {
				padding-bottom: 0;
				padding-left: 30px;
			}

			@media(max-width:767px) {
				padding-left: 10px;
			}
		}
	}

	// slider controls
	.swiper-button-prev,
	.swiper-button-next {
		background: transparentize($white, 0.8);
		width: 60px;
		height: 60px;
		line-height: 60px;
		border: 2px solid $white;
		border-radius: 50%;
		opacity: 0.7;
		text-align: center;
		@include transition-time(0.3s);

		&:hover {
			opacity: 0.9;
		}

		@include media-query(767px) {
			display: none;
		}
	}

	.swiper-button-prev {
		left: 25px;

		&:before {
			font-family: "themify";
			content: "\e629";
			font-size: 20px;
			color: #fff;
		}
	}

	.swiper-button-next {
		right: 25px;

		&:before {
			font-family: "themify";
			content: "\e628";
			font-size: 20px;
			color: #fff;
		}
	}

	.swiper-button-prev,
	.swiper-button-next {
		@include media-query(991px) {
			display: none;
		}
	}

	.swiper-pagination-bullet {
		width: 12px;
		height: 12px;
		text-align: center;
		line-height: 12px;
		font-size: 12px;
		color: #000;
		opacity: 1;
		background: rgba(255, 255, 255, 0.2);

		@include widther(992px) {
			display: none;
		}
	}

	.swiper-pagination-bullet-active {
		color: #fff;
		background: $white;
		width: 12px;
		height: 12px;
		text-align: center;
		line-height: 12px;
	}

	.swiper-container-horizontal>.swiper-pagination-bullets,
	.swiper-pagination-custom,
	.swiper-pagination-fraction {
		bottom: 30px;
	}

	.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
		margin: 0 8px;
	}
}


.wpo-hero-slider,
.static-hero,
.wpo-hero-slider-s2 {

	@include media-query(1199px) {
		height: 680px;
	}

	@include media-query(991px) {
		height: 600px;
	}

	@include media-query(767px) {
		height: 500px;
	}


	.gradient-overlay {
		@include linear-gradient-bg(left, $dark-gray 45%, transparent 65%);
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 10;
		opacity: .6;
	}

	.gradient-overlay+.container {
		position: relative;
		z-index: 11;
	}

	.swiper-slide {
		position: relative;
		z-index: 11;
	}

	.wpo-hero-title-top {
		span {
			font-size: 22px;
			color: #e4e4e4;
			font-family: $heading-font;

			@include media-query(767px) {
				font-size: 15px;
			}

		}
	}

	.slide-title {
		max-width: 712px;

		@include media-query(1199px) {
			max-width: 555px;
		}


		h2 {
			font-size: 70px;
			font-weight: 400;
			line-height: 90px;
			margin: 10px 0 15px;
			color: $white;

			@include media-query(1199px) {
				font-size: 50px;
				font-size: calc-rem-value(50);
			}

			@include media-query(991px) {
				font-size: 40px;
				font-size: calc-rem-value(40);
				line-height: 55px;
			}

			@include media-query(767px) {
				font-size: 30px;
				font-size: calc-rem-value(30);
				line-height: 36px;
			}
		}
	}

	.slide-text {
		max-width: 680px;

		@include media-query(767px) {
			max-width: 500px;
		}

		p {
			font-size: 22px;
			color: $white;
			line-height: 35px;
			max-width: 680px;
			margin-bottom: 40px;
			color: #e2e2e2;

			@include media-query(991px) {
				font-size: 18px;
				font-size: calc-rem-value(18);
			}

			@include media-query(767px) {
				font-size: 16px;
				font-size: calc-rem-value(16);
				line-height: 22px;
				margin-bottom: 30px;
			}
		}
	}


	.slide-btns {
		@include media-query(991px) {
			max-width: 400px;
		}

		.theme-btn {
			border-radius: 0;
			color: $dark-gray;
			font-weight: 600;
			font-size: 18px;

			&:after {
				border-radius: 0;
			}
		}
	}


	.slide-btns .hero-video-btn {
		margin-left: 40px;

		@include media-query(767px) {
			margin-left: 20px;
		}
	}
}


.wpo-hero-slider-s2 {

	height: 1000px;

	@include media-query(1199px) {
		height: 680px;
	}

	@include media-query(991px) {
		height: 600px;
	}

	@include media-query(767px) {
		height: 500px;
	}

	.hero-inner,
	.slide-inner {
		.slide-content {
			padding-bottom: 0;
			padding-top: 40px;
		}
	}

}



/*-------------------------------------------
	hero style 1
--------------------------------------------*/
.static-hero {
	height: 1000px;
	display: flex;
	position: relative;
	z-index: 1;
	overflow: hidden;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	@include media-query(1399px) {
		height: 900px;
	}

	@include media-query(1199px) {
		height: 820px;
	}

	@include media-query(991px) {
		height: 700px;
	}


	&:before {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: #ffffffbf;
		content: "";
		opacity: 0.6;

		@media (min-width:992px) {
			display: none;
		}

		@media (max-width:767px) {
			background: #040128;
			opacity: 0.1;
		}
	}



	.hero-container {

		.hero-inner {

			&::before {
				display: none;
			}

			.wpo-static-hero-inner {
				position: relative;
				margin-left: -120px;

				@media (max-width:1649px) {
					margin-left: -60px;
				}

				@media (max-width:1499px) {
					margin-left: -10px;
				}

				@media (max-width:1199px) {
					margin: 0;
					margin-top: 50px;
				}

				@media (max-width:991px) {
					margin-top: 100px;
				}

				span {
					font-family: $base-font-s2;
					font-weight: 400;
					font-size: 16px;
					line-height: 30px;
					text-transform: uppercase;
					color: $theme-primary-color-s2;

				}

				.title {
					margin-top: 18px;
					font-family: $heading-font;
					font-weight: 400;
					font-size: 70px;
					line-height: 90px;
					color: $dark-gray;
					margin-bottom: 25px;

					@media (max-width:1199px) {
						margin-top: 0px;
						font-size: 60px;
						line-height: 75px;
						margin-bottom: 16px;
					}

					@media (max-width:767px) {
						font-size: 38px;
						line-height: 50px;
					}
				}


				.sub-title {
					font-weight: 400;
					font-size: 18px;
					line-height: 30px;
					color: $text-light-color;
					margin-bottom: 60px;
					margin-right: 155px;

					@media (max-width:1199px) {
						margin-right: 0;
					}
				}

				.theme-btn {
					color: $white;
					background: $theme-primary-color;

					&::before {
						border: 1px dashed $theme-primary-color;
					}

					&:hover {
						color: $dark-gray;
					}
				}
			}

		}
	}



	.shape-1 {
		position: absolute;
		top: 10%;
		left: 0;
		z-index: -1;

		@media (max-width:991px) {
			display: none;
		}

	}

	.shape-2 {
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: -1;

		@media (max-width:991px) {
			display: none;
		}
	}

	.slider-img-1 {
		position: absolute;
		width: 1060px;
		height: 630px;
		top: 31%;
		right: -28%;
		transform: translate(-50%, -50%);
		z-index: -11;
		clip-path: polygon(0 0, 100% 0, 100% 100%, 16% 70%);

		@media (max-width:1849px) {
			top: 31%;
			right: -30%;
		}

		@media (max-width:1799px) {
			top: 31%;
			right: -36%;
		}

		@media (max-width:1749px) {
			width: 985px;
			height: 620px;
			clip-path: polygon(0 0, 100% 0, 100% 97%, 16% 70%);
		}

		@media (max-width:1549px) {
			clip-path: polygon(0 0, 100% 0, 100% 79%, 16% 70%);
			width: 913px;
			height: 695px;
			top: 34.7%;
			right: -37%;
		}

		@media (max-width:1399px) {
			width: 800px;
			height: 600px;
			top: 31%;
			right: -37%;
		}

		@media (max-width:1299px) {
			right: -38%;
		}

		@media (max-width:1199px) {
			right: -20%;
			top: 0;
			transform: none;
		}

		@media (max-width:991px) {
			right: -26%;
			top: -12%;
		}

		@media (max-width:767px) {
			display: none;
		}

		img {
			width: 100%;
			object-fit: cover;
		}
	}


	.slider-img-2 {
		position: absolute;
		height: 671px;
		width: 934.5px;
		top: 67%;
		right: 0%;
		transform: translate(-50%, -50%);
		z-index: -11;
		clip-path: polygon(55% 17%, 100% 31%, 87% 100%, 5% 100%);

		@media (max-width:1849px) {
			top: 67%;
			right: 1%;
		}

		@media (max-width:1799px) {
			top: 67%;
			right: -6%;
			clip-path: polygon(54% 17%, 99% 31%, 86% 100%, 7% 100%);
		}

		@media (max-width:1749px) {
			top: 67%;
			right: -13%;
			clip-path: polygon(50% 17%, 100% 31%, 87% 100%, 7% 100%);
		}

		@media (max-width:1699px) {
			right: -12.5%;
		}

		@media (max-width:1649px) {
			right: -12%;
		}

		@media (max-width:1599px) {
			right: -11%;
		}

		@media (max-width:1549px) {
			width: 849px;
			top: 73%;
			right: -7%;
			clip-path: polygon(59% 16%, 100% 21%, 87% 100%, 17% 100%);
		}

		@media (max-width:1499px) {
			top: 73%;
			right: -6.8%;
		}

		@media (max-width:1449px) {
			right: -5.5%;
		}

		@media (max-width:1399px) {
			right: -8%;
			top: 70%;
			clip-path: polygon(69% 18%, 100% 21%, 87% 100%, 34% 100%);
		}

		@media (max-width:1349px) {
			right: -7%;
		}

		@media (max-width:1199px) {
			display: none;
		}


		img {
			width: 100%;
			object-fit: cover;
		}

	}

	.slider-img-3 {
		position: absolute;
		height: 510px;
		width: 633.5px;
		top: 75%;
		right: -18%;
		transform: translate(-50%, -50%);
		z-index: -11;
		clip-path: polygon(25% 10%, 100% 30%, 100% 100%, 6% 100%);

		@media (max-width:1799px) {
			top: 75%;
			right: -25%;
		}

		@media (max-width:1749px) {
			top: 75%;
			right: -33%;
		}

		@media (max-width:1549px) {
			clip-path: polygon(24% 8%, 100% 16%, 100% 100%, 9% 100%);
		}

		@media (max-width:1399px) {
			top: 72%;
			right: -37%;
		}

		@media (max-width:1299px) {
			right: -38%;
		}

		@media (max-width:1249px) {
			right: -39%;
		}

		@media (max-width:1199px) {
			right: -32%;
			top: 79%;
		}

		@media (max-width:991px) {
			right: -42%;
			top: 79%;
		}

		@media (max-width:767px) {
			display: none;
		}

		img {
			width: 100%;
			object-fit: cover;
		}
	}

}